.voted {
  color: red;
}

#article {
  text-align: center;
}

.articles {
  text-align: center;
}

.articleList {
  text-align: center;
  display: grid;
}

.articleTitles {
  border: 2px black dotted;
  border-radius: 20%;
  font-size: 40px;
  color: whitesmoke;
}

.singleArticleTitle {
  font-size: 30px;
}

.singleArticleImage {
  width: 70%;
  height: 40%;
}

.smallerText {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: italic;
}

#topics {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 80% 20%;
}

#sort {
  grid-column: 1 / 2;
  text-align: left;
}

#topicButtons {
  grid-column: 2 / 3;
  text-align: left;
}

#postLink {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: left;
  margin-left: 4%;
  padding: 10px;
  font-size: 23px;
}
